@media only screen and (min-width: 992px) { 
	/* for 10 inches tablet screens */
	body::before {
	  content: "Version desktop : >992px";
	  @include debug-layout;
	}
	html{
		max-width:1400px;
		margin: 0 auto;
	}
	.main-bloc{
		.main-bloc-card{
			width:20%;
		}
	}
}