@media only screen and (min-width: 992px) { 
	/* for 10 inches tablet screens */
	// body::before {
	//   content: "Version desktop : >992px";
	// }
	html{
		max-width:1400px;
		margin: 0 auto;
	}
	.main-bloc{
		.main-bloc-card{
			width:20%;
		}
	}
	.resto-main-bloc{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		.resto-main-bloc-title{
			flex:0 1 100%;
		}
		.resto-section{
			display:block;
			width:30%;
		}
		.resto-card{
			width:unset;
		}
		
		
	}
}