.btn-main {
    align-self: center;
    width:fit-content;
    margin:10px;
    padding:16px 18px;
    font-size:16px;
    font-weight: 400;
    color:white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border-radius:25px;
	opacity:100%;
	cursor: pointer;
    @include light-shadow;
	transition: opacity 400ms ease-in-out, box-shadow 400ms ease-in-out;
	&:hover, &:active{
		opacity:85%;
		box-shadow: 1px 6px 7px darken($color-border-bloc,20%);
	}
}