.explore-bloc{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:0 20px 30px 20px;
    background-color: $bg-bloc;
    h1{
        padding : 30px 45px 15px 45px;
    }
    p{
        margin-bottom:15px;
        font-size:18px;
        font-weight:300;
    }
    
}