@mixin logo-big-font{
    font-family: 'Shrikhand', cursive;
    font-size:25px;
    font-weight:lighter;
}
@mixin logo-small-font{
    font-family: 'Shrikhand', cursive;
    font-size:14px;
    font-weight:100;
}

@mixin xlight-shadow{
    box-shadow: 1px 2px 4px $color-border-shadow;
}

@mixin light-shadow{
    box-shadow: 1px 6px 7px $color-border-bloc;
}

@mixin medium-shadow{
    box-shadow: 1px 2px 14px $color-border-bloc;
}