$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-primary-pastel: lighten($color-primary, 35%); /* #F5EDFF */
$bg-geoloc-bloc:#EAEAEA;
$color-font-bloc:#464646;
$color-border-bloc:#DDDDDD;
$color-border-shadow:#939393;
$bg-bloc:#F7F7F7;
$color-sticker:#008d75;
$bg-footer:#353535;



